<%= form_for(dog, builder: TextFieldFormBuilder, class: 'form-horizontal') do |f| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field_with_label('Name', :name, "Your Dog's Name") %>

  <%= f.text_field_with_label('Breed', :breed, "Your Dog's Breed") %>

  <%= f.date_picker('Date of Birth', :date_of_birth_on) %>
  
  <%= f.submit_with_style("Create") %>

<% end %>
