<%= content_for(:page_header) do %>
  <%= link_to 'Back', dogs_path, class: 'btn btn-default' %>
  <%= link_to 'Show', @dog, class: 'btn btn-info' %> 
  
  <div class="pull-right">  
    Editing <%= @dog.name %>'s Detail
  </div>
<% end %>

<%= render 'form', dog: @dog %>


