<!DOCTYPE html>
<html>
  <head>
    <title>DogRego</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= content_for?(:title) ? yield(:title) : "Sign up" %>
                <div class="pull-right shared-links">
                  <%= render "devise/shared/sign" %>
                </div>
              </h3>
            </div>
            <div class="panel-body">
              <%= yield %>
            </div>
            <div class="panel-body">
              <%= render "devise/shared/password" %>
            </div>
          </div>
          <div class="panel-default warning">
            <%= render 'layouts/messages' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

